{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Products{% endtrans %}
{% endblock %}

 {% block body %}
     <div id="products" class="card-columns">
     {% for item in items %}
         <div class="product card" style="min-width: 10rem;">
             <a href="{{ path('view_product', {code: item.code}) }}">
                <img class="card-img-top" style="object-fit: cover; height: 12rem" src="{{ item.coverUrl }}" alt="Cover: {{ item.name }}">
             </a>
             <div class="card-body">
                 <h5 class="card-title">
                     <a href="{{ path('view_product', {code: item.code}) }}">
                        {{ item.name }}
                     </a>
                 </h5>
                 <p class="card-text">{{ (item.price / 100) | number_format(2) }}</p>
             </div>
             <div class="card-footer">
                 <a class="btn btn-primary" href="{{ path('update_product', {code: item.code}) }}">
                     {% trans %}Edit{% endtrans %}
                 </a>
             </div>
         </div>
         {% endfor %}
     </div>
 {% endblock %}
