{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}
    <div id="product" class="row">
        <div class="col-sm">
            <img style="object-fit: cover; height: 25rem; width: 100%" src="{{ item.coverUrl }}"
                 alt="Cover: {{ item.name }}">
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h1>{{ item.name }}</h1>
                    <p class="card-text">{{ (item.price / 100) | number_format(2) }}</p>
                </div>
                <div class="card-footer">
                    <form action="{{ path('cart_add_product', {code: item.code}) }}" method="POST">
                        <button type="submit" class="btn btn-primary">
                            {% trans %}Add to Cart{% endtrans %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
