<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Workshop{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_products') }}">{% trans %}Products{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('create_product') }}">{% trans %}Add Product{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('view_cart') }}">{% trans %}Shopping Cart{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('view_order', {order_number: '0123456789'}) }}">{% trans %}Last Order{% endtrans %}</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
